<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="rounds">Rounds</button>
    <button mat-button routerLink="golfers">Golfers</button>
    <button mat-button routerLink="courses">Courses</button>
  </mat-toolbar-row>
</mat-toolbar>
 <div class="col-xs-12">
   <div class="col-xs-1"></div>
   <div class="col-xs-10" style="margin-bottom: 20px">
     <router-outlet></router-outlet>
   </div>
   <div class="col-xs-1"></div>
 </div>


