<!--nav class="navbar navbar-dark bg-inverse">
  <div class="container">
    <ul class="nav nav-pills" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link active" routerLink="../overview">Overview</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="../leaderboard">Leaderboard</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="../golfers">Players</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="../groups">Groups</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="../course">Course</a></li>
    </ul>
  </div>
</nav-->
<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <button mat-raised-button routerLink="../overview">Overview</button>
    <button mat-button routerLink="../leaderboard">Leaderboard</button>
    <button mat-button routerLink="../golfers">Golfers</button>
    <button mat-button routerLink="../courses">Courses</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h2 class="card-title">Round : {{round.round_id}}</h2>
    <p class="card-text">{{round.golfers.length}} players registered for round</p>
  </div>
</div>


