 
  .mat-card-avatar {
    height: 100px;
    width: 100px;
  }
  .updateHeader {
    text-align: center;
    font-style: oblique;
    margin: 0;
    padding: 10px;
    color: red;
    background: #eaff36;
  }
  .blogBackground{
    border: 12px solid darkred;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    background: #6ab304
  }