<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <button mat-button routerLink="update">Posts</button>
    <button mat-button routerLink="leaderboard">Leaderboard</button>
    <button mat-button routerLink="golfers">Players</button>
    <button mat-button routerLink="groupList">Cards</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="row roundContent">
  <div class="col-xs-0 col-sm-1"></div>
  <div class="col-xs-12 col-sm-10" style="margin-bottom: 20px">
    <router-outlet></router-outlet>
  </div>
  <div class="col-xs-0 col-sm-1"></div>
</div>

