<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <button mat-button routerLink="../overview">overview</button>
    <button mat-raised-button routerLink="../leaderboard">Leaderboard</button>
    <button mat-button routerLink="../golfers">Golfers</button>
    <button mat-button routerLink="../courses">Courses</button>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <table class="table hoverTable">
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
    <tr *ngFor="let scorescard of scorecards">
      <td>{{ getSelectedGolferName(scorescard.golfer_id) }}</td>
      <td>{{ scorescard.totalStablefordScore }}</td>
    </tr>
  </table>
</div>

<button mat-button>My Button</button>
