<div class="scoreViewContainer">
    <div class="btn-group">
      <button type="button" (click)="selectedScoreView='stableford'" [ngClass]="{'active':selectedScoreView === 'stableford'}" class="btn btn-primary">Stableford</button>
      <div class="button-spacer"></div>
      <button type="button" (click)="selectedScoreView='stroke'" [ngClass]="{'active':selectedScoreView === 'stroke'}" class="btn btn-primary">Stroke</button>
    </div>
    <span class="button-spacer"></span>
    <a [hidden]="!isMobileDevice()" [href]="getWhatsappUrl()" data-action="share/whatsapp/share">
      <img id="ctl00_XXX" src="/assets/images/whatsapp-icon.png" style="height:30px; width: 30px; border: 0; margin-left: 10px;"/> 
      </a>
</div>
<div class="leaderboard-container-full">
  <section class="fairway-backdrop leaderboard-fairway-img-container">
    <div id="leaderboardBg" class="leaderboard-base-img-container">
      <img src="/assets/images/leaderboard-base-image.png" width="917" height="510" border="0" id="leaderboard-base-image">
      <div class="leaderboard-table-content">
        <table class="table hoverTable">
          <thead class="leaderboard-table-header">
            <tr>
              <th class="table-cell-text">HOLE</th>
              <th class="table-cell-text" *ngFor="let hole of round.course.holes; let i = index">{{ i+1 }}</th>
             
            </tr>
            <tr>
              <th class="table-cell-text">PAR</th>
              <th class="table-cell-text" *ngFor="let hole of round.course.holes;">{{ hole.par }}</th>
              <th [hidden]="selectedScoreView !== 'stroke'" class="table-cell-text">Score</th>
              <th class="table-cell-text">TOTAL</th>
            </tr>
        </thead>
          <tbody class="leaderboard-table-body">
            <tr *ngFor="let scorecard of scorecards | sortStablefordPipe">
              <td class="table-cell-text">{{getSelectedGolferName(scorecard.golfer_id)}}</td>
              <td class="table-cell-text-red" *ngFor="let score of scorecard.stablefordScores;"><div >{{ score }}</div></td>
              <th [hidden]="selectedScoreView !== 'stroke'" class="table-cell-text">{{getStrokeScoreUnderPar(scorecard)}}</th>
              <td class="table-cell-text">{{getTotalScore(scorecard)}}</td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
<div class="leaderboard-container-compact">
  <section>
      <table class="table hoverTable">
        <thead class="leaderboard-table-header-compact">
          <tr>
            <th class="table-cell-text">POS</th>
            <th class="table-cell-text">PLAYER</th>
            <th class="table-cell-text">THRU</th>
            <th [hidden]="selectedScoreView !== 'stroke'" class="table-cell-text">Score</th>
            <th class="table-cell-text">TOTAL</th>           
          </tr>
      </thead>
        <tbody *ngFor="let scorecard of scorecards | sortStablefordPipe; let i = index" class="leaderboard-table-body-compact">
          <tr (click)="toggleAccordian(i)">
              <td class="table-cell-text">{{i +1}}</td>
              <td class="table-cell-text">{{getSelectedGolferName(scorecard.golfer_id)}}</td>
              <td class="table-cell-text">{{getLastUpdatedHole(scorecard)}}</td>
              <th [hidden]="selectedScoreView !== 'stroke'" class="table-cell-text">{{getStrokeScoreUnderPar(scorecard)}}</th>
              <td class="table-cell-text-red">{{getTotalScore(scorecard)}}</td>
          </tr>
          <tr [hidden]="!(accordianOpened === i)" class="leaderboard-accordian">
              <td colspan="4"class="table-cell-text">
                <table class="table">
                  <thead class="leaderboard-compact-accordian-th">
                    <tr class="accordian-table-header-1">
                        <th>HOLE</th>
                        <th *ngFor="let hole of round.course.holes | slice:0:9; let i = index">{{ i +1 }}</th>
                    </tr>
                    <tr class="accordian-table-header-2">
                        <th>PAR</th>
                        <th *ngFor="let hole of round.course.holes | slice:0:9; let i = index">{{ hole.par }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>SP</td>
                        <td class="table-cell-text-red" *ngFor="let hole of round.course.holes | slice:0:9; let i = index"><div [className]="getScoreClass(scorecard, i)">{{getStrokeScore(scorecard, i)}}</div></td>
                    </tr>
                    <tr>
                        <td>STF</td>
                        <td class="table-cell-text-red" *ngFor="let hole of round.course.holes | slice:0:9; let i = index"><div>{{getStablefordScore(scorecard, i)}}</div></td>
                    </tr>
                  </tbody>
                  <thead class="leaderboard-compact-accordian-th">
                    <tr class="accordian-table-header-1">
                        <th>HOLE</th>
                        <th *ngFor="let hole of round.course.holes | slice:8:17; let i = index">{{ i + 10 }}</th>
                    </tr>
                    <tr class="accordian-table-header-2">
                        <th>PAR</th>
                        <th *ngFor="let hole of round.course.holes | slice:8:17; let i = index">{{ hole.par }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>SP</td>
                        <td class="table-cell-text-red" *ngFor="let hole of round.course.holes | slice:8:17; let i = index"><div [className]="getScoreClass(scorecard, i+9)">{{getStrokeScore(scorecard, i+9)}}</div></td>
                    </tr>
                    <tr>
                        <td>STF</td>
                        <td class="table-cell-text-red" *ngFor="let hole of round.course.holes | slice:8:17; let i = index"><div>{{getStablefordScore(scorecard, i+9)}}</div></td>
                    </tr>
                  </tbody>
                </table>
              </td>
          </tr>
      </tbody>
      </table>
    </section>
</div>