<div class="leaderboard-parent-container">
  <section class="fairway-backdrop leaderboard-fairway-img-container">
    <div id="leaderboardBg" class="leaderboard-base-img-container">
      <img src="/assets/images/leaderboard-base-image.png" width="917" height="510" border="0" id="leaderboard-base-image">
      <div class="leaderboard-table-content">
        <table class="table hoverTable">
          <thead class="leaderboard-table-header">
            <tr>
              <th class="table-cell-text">HOLE</th>
              <th class="table-cell-index-number" *ngFor="let hole of round.course.holes; let i = index">{{ i+1 }}</th>
             
            </tr>
            <tr>
              <th class="table-cell-text">PAR</th>
              <th class="table-cell-index-number" *ngFor="let hole of round.course.holes;">{{ hole.par }}</th>
              <th class="table-cell-text">TOTAL</th>
            </tr>
        </thead>
          <tbody class="leaderboard-table-body">
            <tr *ngFor="let scorecard of scorecards | sortStablefordPipe">
              <td class="table-cell-text">{{getSelectedGolferName(scorecard.golfer_id)}}</td>
              <td class="table-cell-score-number" *ngFor="let score of scorecard.stablefordScores;"><div class="cell-score-border">{{ score }}</div></td>
              <td class="table-cell-text">{{scorecard.totalStablefordScore}}</td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>
  </section>
</div>