/*@media only screen and (min-height: 43.5em) and (min-width: 64em) {*/
  /*section.page-wrap {*/
    /*background-image: url(/assets/images/leaderboard_background_image.jpg);*/
    /*background-color:transparent;*/
    /*background-attachment: fixed;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*padding-bottom: 0;*/
  /*}*/
/*}*/
/*@media only screen and (min-height: 43.5em) and (min-width: 64em){*/
  /*#leaderboard-base-image {*/
    /*display: block !important;*/
    /*position: absolute;*/
    /*z-index: 0;*/
    /*width: 917px;*/
    /*height: 510px;*/
    /*top: 0px;*/
  /*}*/
/*}*/

/*section.fairway-backdrop {*/
  /*background-image: none;*/
/*}*/
/*@media only screen and (min-height: 1024px) and (min-width: 576px) {*/
  section.fairway-backdrop {
    background-image: url('/assets/images/leaderboard_background_image.jpg');
    background-color: transparent;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 0;
    height: 800px
  }
/*}*/



  #leaderboard-base-image {
    display: block !important;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 640px;
    top: 0px;
  }


  .leaderboard-parent-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .leaderboard-fairway-img-container {
    position: relative;
    top: 0;
    left: 0;
  }
  .leaderboard-base-img-container {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 640px;
    width: 80%;

  }

  .leaderboard-table-content {
    z-index: 2;
    position: relative;
    margin-top: 8%;
    margin-left: 2%;
    width: 95%;
    height: 460px;
    overflow: auto;
  }


.table-cell-text,
.table-cell-index-number,
.table-cell-score-number{
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.table-cell-score-number {
  color: darkred;
}
