.hole-col {
  background-color: rgb(237, 252, 101);
}
.par-col {
  background-color: rgb(46, 190, 147);
}
  
.index-col {
  background-color: coral;
}

.player-2,
.player-4 {
   background-color: lemonchiffon;
}

.totalCol {
  background: rgb(82, 14, 192);
  color:rgb(255, 230, 8);
  font-weight: bold;
}

.cardPopulated {
  background: chartreuse;
  border-color: green;
}

.scorecardTable .ng-dirty {
  background: yellow !important;
  border-color: orangered !important;
}