<div>
  <table class="table hoverTable">
    <tr>
      <th>Hole</th>
      <th>Par</th>
      <th>Index</th>
      <th *ngFor="let golfer of golfers; let i = index;">{{golfer.name}}</th>
      <th [hidden]="groupId">stableford</th>
    </tr>
    <tr *ngFor="let hole of round.course.holes; let i = index;">
      <td>{{ i+1}}</td>
      <td>{{ hole.par }}</td>
      <td>{{ hole.index }}</td>
      <td *ngFor="let golfer of golfers; let j = index;">
        <select style="width: 40px" type="number" [(ngModel)]="scoreCards[j].baseScores[i]" (ngModelChange)="setStableFordScores(j)" name ="stablefordScore-{{i}}" id="index-{{i}}" >
          <option style="font-weight: bold;" *ngFor="let index of scoreOptions" [value]="index">{{index}}</option>
        </select>
      </td>
      <td [hidden]="groupId || !(scoreCards[0].stablefordScores[i] || scoreCards[0].stablefordScores[i] === 0 )" >{{scoreCards[0].stablefordScores[i]}}</td>
      <td [hidden]="groupId || (scoreCards[0].stablefordScores[i] || scoreCards[0].stablefordScores[i] === 0 )" style="color: red; font-weight: bold;">-</td>
    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{scoreCards[0].totalStablefordScore}}</td>
    </tr>
  </table>
  <button  (click)="submitScoreCard()" class="btn btn-success">Update Scorecard</button>
</div>
