<div>
  <table class="table">
      <colgroup>
        <col class="hole-col" />
        <col class="par-col" />
        <col class="index-col" />
        <col class="player-1" />
        <col class="player-2" />
        <col class="player-3" />
        <col class="player-4" />
       </colgroup>
    <tr>
      <th>Hole</th>
      <th>Par</th>
      <th>Index</th>
      <th *ngFor="let golfer of golfers; let i = index;">{{golfer.name}}</th>
      <th [hidden]="groupId">stableford</th>
    </tr>
    <tr *ngFor="let hole of round.course.holes; let i = index;">
      <td>{{ i+1}}</td>
      <td>{{ hole.par }}</td>
      <td>{{ hole.index }}</td>
      <td *ngFor="let golfer of golfers; let j = index;">
        <select [ngClass]="{'cardPopulated': getBaseScoreModel(golfer.golfer_id).baseScores[i], newEntry: !getOrigionalScoreModel(golfer.golfer_id).baseScores[i]}" style="width: 97%" type="number" [(ngModel)]="getBaseScoreModel(golfer.golfer_id).baseScores[i]" (ngModelChange)="setStableFordScores(golfer.golfer_id)" name ="stablefordScore-{{i}}" id="index-{{i}}" >
          <option style="font-weight: bold;" *ngFor="let index of scoreOptions" [value]="index">{{index}}</option>
        </select>
      </td>
      <td [hidden]="groupId || !(scoreCards[0].stablefordScores[i] || scoreCards[0].stablefordScores[i] === 0 )" >{{scoreCards[0].stablefordScores[i]}}</td>
      <td [hidden]="groupId || (scoreCards[0].stablefordScores[i] || scoreCards[0].stablefordScores[i] === 0 )" style="color: red; font-weight: bold;">-</td>
    </tr>
    <tr>
      <td class="totalCol" colspan="3">Total</td>
      <td  class="totalCol" *ngFor="let golfer of golfers; let i = index;">{{getTotalStablefordByGolferId(golfer.golfer_id)}}</td>
    </tr>
  </table>
  <button  (click)="submitScoreCard()" class="btn btn-success">Update Scorecard</button>
</div>
